saves/
logs/
psi_persistent/
libraries/
versions/
resourcepacks/
assets/
/realms_persistence.json
config/Mercurius.cfg
launcher_log.txt
launcher_profiles.json
usernamecache.json
usercache.json
screenshots/
backups/
crafttweaker.log
*.log
crash-reports/
journeymap/data
journeymap/server
New World/
servers.dat
options.txt
*.ini

\.ReAuth\.cfg

BotaniaVars\.dat

OpenComputersMod-1\.7\.0\.20-lua52-native\.64\.dll

OpenComputersMod-1\.7\.0\.20-lua53-native\.64\.dll

minecraftinstance\.json

local/

knownkeys\.txt

journeymap/

mputils/

config/acronym/base/General\.cfg

config/AdvGenerators/client\.config

config/Guide-API/Guide-API\.cfg

config/PressurePipes/client\.config

config/bbm/AI_Improvements\.cfg

config/betterquesting/questbook\.cfg

config/codechicken/supporters\.json

config/forestry/binniecore/main\.conf

config/gendustry/client\.config

config/jei/jei\.cfg

config/opencomputers/settings\.conf

config/InvTweaks\.cfg

config/MouseTweaks\.cfg

config/Waystones\.cfg

config/asielib\.cfg

config/baubles\.cfg

config/blur\.cfg

config/ctm\.cfg

config/cyclopscore\.cfg

config/foamfix\.cfg

config/lunatriuscore\.cfg
